:root {
    --color--background: #0b011d;
    --color--glass--effect: #fafafa10;
    --color--btn: #fafafa10;
    --color--btn--before: #bd9fff;
    --color--span: #4b4357;
    --color--shadow: #bd9fff;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

a {
    text-decoration: none;
}

body {
    max-width: 80%;
    margin: 0 auto;
    background-color: var(--color--background);
    /* border: solid white; */
    color: white;
    padding: 5px;
}

.effect__article {

    border-top: solid 1px;
    background: radial-gradient(50% 70.31% at 50% 0%, rgba(126, 61, 255, 0.062) 0%, rgba(126, 61, 255, 0) 100%), rgb(11, 1, 29);
    border-image: radial-gradient(white 10%, var(--color--background) 90%) 1;


    padding: 150px 0px 150px;
}

.grandiente__circle__2 {
    border: solid 1px rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    background: rgb(26, 18, 34);
    background: radial-gradient(circle, rgb(48, 29, 65) 0%, rgb(16, 8, 36) 50%, rgb(1, 0, 27) 90%);
}



/* TITLES */

h2 {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.6) 100%);
    ;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    font-size: 40px;
}

/* BUTTON */
.btn {
    position: relative;
    display: block;
    overflow: hidden;
    transition: all 500ms ease;
    font-weight: 700;


    color: white;
    background-color: var(--color--button);
    border: solid 1px #fafafa10;
    border-radius: 20px;
    padding: 10px;
}

.btn::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-color: var(--color--btn--before);
    transition: all 500ms ease;
    z-index: -1;
}

.btn--1::before {
    left: -560px;
    right: 0;
    width: 100%;
    height: 150%;
    transition: all 1s ease;
    transform: rotate(45deg);
    box-shadow: 0 0 10px var(--color--shadow), 0 0 20px var(--color--shadow), 0 0 20px var(--color--shadow);
}

.btn--1:hover::before {
    left: 520px;
}



/* ICONS EFECTS */
.effect__svg svg {
    transition: 0.5s;
}

.effect__svg svg:hover {
    transform: scale(1.5);
}
















/* IMAGENES */
.img-container {
    /* Esto hace que el contenedor sea redondo */
    overflow: hidden;
}

.img {
    width: 100%;
    object-fit: cover;
    /* Esto asegura que la imagen se ajuste bien dentro del contenedor sin deformarse */
    object-position: top;
    /* Centra la imagen dentro del contenedor */
}




/* MAIN MENU */
.menu-container {
    width: auto;
    padding: 10px 0;
    display: flex;

    position: sticky;
    top: 0;

    margin-bottom: 50px;

    z-index: 1000;
}

.nav-container {
    margin: auto;
    width: auto;
    border: solid 1px #2d2641;
    border-radius: 50px;
    opacity: 1;
}

.nav-container ul {
    display: flex;
    margin: 12px;
}

.nav-container li {
    color: white;
    display: inline;
    margin: auto 5px;
}

.nav-container a {
    text-decoration: none;
    color: white;
    transition: .5s;
}

.nav-container a:hover {
    color: #decfff;
    text-shadow: 0 0 5px var(--color--shadow);
    font-size: 20px;
}

.glass-effect {
    background: var(--color--glass--effect);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .nav-container {
        width: auto;
        height: auto;
    }

    .nav-container a {
        font-size: 0.875em;
        /* Tamaño de fuente reducido */
    }

    .nav-container a:hover {
        font-size: 1em;
        /* Tamaño de fuente reducido */
    }
}

@media (max-width: 480px) {

    /* MAIN MENU */

    .menu-container {
        width: auto;
        padding: 10px 0;
        display: flex;

        position: sticky;
        top: 0;

        margin-bottom: 50px;

        z-index: 1000;

    }

    .nav-container {
        margin: auto;
        width: auto;
    }

    .nav-container a {
        font-size: 0.61em;
        /* Tamaño de fuente aún más reducido */
    }

    .nav-container a:hover {
        font-size: 0.875em;
        /* Tamaño de fuente reducido */
    }



    /* MAIN TITLE */
    .title__background h1 {
        -webkit-text-stroke: 1px #fafafa10;
        color: rgba(255, 255, 255, 0.042);
        font-size: 44px;
    }

    .main__title h1,
    h6 {
        font-size: 44px;
        margin-bottom: 40px;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.6) 100%);
        ;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }


}









/* MAIN TITLE */
.title__container {
    position: relative;
    width: 100%;

    text-align: center;
    padding: 200px 0;
    margin-bottom: 100px;
}

.title__background {
    position: absolute;
    width: 100%;
    margin: auto;
}


.title__background h1 {
    -webkit-text-stroke: 1px #fafafa10;
    color: rgba(255, 255, 255, 0.042);
    font-size: clamp(2.5rem, 7vw, 9rem);
}

.main__title h1,
h6 {
    font-size: clamp(1.2rem, 2.7vw, 9rem);
    margin-bottom: 2.2vw;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.6) 100%);
    ;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}











/* SECTION SECOND */
/* CARD HOME */

/* #home {
    margin: 0 auto;
} */

#card_container_home {
    display: grid;
    grid-auto-rows: 18rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));

    grid-auto-flow: dense;
    gap: 1.2rem;
}

#element_card_1 {
    grid-column: span 2;
    grid-row: span 1;
    height: 100%;
}

#element_card_2 {
    grid-column: span 1;
    grid-row: span 1;
    height: 100%;
}

#element_card_2 div {
    align-items: center;
}

#element_card_3 {
    grid-column: span 1;
    grid-row: span 2;
    height: 100%;
}

#element_card_3 ul {
    align-items: center;
}

#element_card_4 {
    grid-column: span 1;
    grid-row: span 1;
    height: 100%;
}

#element_card_4 div {
    align-items: center;
}

#element_card_5 {
    grid-column: span 2;
    grid-row: span 1;
    height: 100%;
}


@media (max-width: 1561px) {
    #home {
        max-width: 100%;
        margin: 0 auto;
    }

    #element_card_1,
    #element_card_2,
    #element_card_3,
    #element_card_4,
    #element_card_5 {
        grid-column: span 1;
        height: 100%;
    }
}



/* CARD ITEM HOME*/
.card_item {
    border-radius: 20px;
}

.card_item h2 {
    text-align: left;
    font-size: clamp(2rem, 1.6vw, 3rem);
}

.card_item p {
    font-size: clamp(1rem, 1vw, 3rem);
    max-width: 400px;
}

.grid-card-blur {
    border: solid 1px rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgb(26, 18, 34);
    background: radial-gradient(circle, rgb(48, 29, 65) 0%, rgb(16, 8, 36) 50%, rgb(1, 0, 27) 90%);
    backdrop-filter: blur(8.5px);
    padding: 1.7vw 0;
}



.text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 3vw;
}

/* Imagen redonda Joel */
.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px #d500f9;
}


.avatar {
    position: absolute;
    width: 200%;
    height: 200%;
    top: -18px;
    left: -25px;

    object-fit: cover;
    /* Esto asegura que la imagen se ajuste bien dentro del contenedor sin deformarse */
    object-position: top;
    /* Centra la imagen dentro del contenedor */
}





/* Icons Social */
.icons-social {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #fafafa10;
    border-radius: 50px;
    list-style: none;
}

.icons-social a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 53px;
    background: #2d2641;
    border-radius: 50%;
    font-size: 30px;
    transition: .5s;
}

.icons-social a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #bd9fff;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.icons-social a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--color--shadow);
}

.icons-social a:hover {
    color: #bd9fff;
    box-shadow: 0 0 5px var(--color--shadow);
    text-shadow: 0 0 5px var(--color--shadow);
}





/* CARD STUDENT */
.grid__card {
    border: solid 1px rgba(255, 255, 255, 0.1);
    background: radial-gradient(50% 70.31% at 50% 0%, rgba(126, 61, 255, 0.137) 0%, rgba(126, 61, 255, 0) 100%), rgb(11, 1, 29);
    border-radius: 12px;
    padding: 32px 2em;
}







/* PROYECTS */
.main_section {
    width: 75%;
    margin: auto;
}

#proyects {
    padding: 150px 0px 0px;
}

.card_container_proyects {
    display: grid;
    grid-auto-rows: 10rem;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    grid-auto-flow: dense;
    gap: 1.2rem;
}

.card_item_proyect:nth-child(1) {
    grid-column: span 19;
    grid-row: span 3;
    overflow: hidden;
}

.card_item_proyect:nth-child(2) {
    grid-column: span 16;
    grid-row: span 1;
    display: flex;
    justify-content: center;
    background: radial-gradient(transparent 42%, var(--color--background) 55%);
}

.title__cnt__proyect {
    margin: auto;
    border: 1px solid #ffffff41;
    border-radius: 20px;
    padding: 15px 25px;
    background: #e905fd0e;
    box-shadow: 0 0 5px var(--color--shadow);
}

.card_item_proyect:nth-child(2) h2 {
    font-size: clamp(1rem, 1.4vw, 2rem);
}

.card_item_proyect:nth-child(3) {
    grid-column: span 19;
    grid-row: span 3;
    overflow: hidden;
}

.card_item_proyect:nth-child(4) {
    grid-column: span 16;
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.card_item_proyect:nth-child(4) img {
    opacity: 0.9;
}

.card_item_proyect:nth-child(5) {
    grid-column: span 27;
    grid-row: span 3;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.div__text__proyect_5 {
    border: solid 1px #74698b3d;
    border-radius: 15px;
    padding: 15px;
    background: #4b43571a;
}

.card_item_proyect:nth-child(5) p {
    max-width: 500px;
    font-size: clamp(0.8rem, 0.8vw, 2rem);
    color: #c7b9d4;
    line-height: 20px;
}

.card_item_proyect:nth-child(6) {
    grid-column: span 27;
    grid-row: span 3;
    display: flex;
    position: relative;
    padding: 15px;
    gap: 40px;
}

.container__tex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 280px;
}

.text__proyect_6 {
    border: solid 1px #74698b3d;
    border-radius: 15px;
    padding: 15px;
    background: #4b43571a;
}

.text__proyect_6 p {
    font-size: clamp(0.8rem, 0.8vw, 2rem);
    line-height: 20px;
    color: #c7b9d4;
}

@media (min-width: 1561px) {
 .scroll_container{
    display: none;
 }
}

@media (max-width: 1561px) {

    #proyects {
        max-width: 100%;
        margin: 0 auto;
    }

    .card_item_proyect:nth-child(1),
    .card_item_proyect:nth-child(2),
    .card_item_proyect:nth-child(3),
    .card_item_proyect:nth-child(4),
    .card_item_proyect:nth-child(5),
    .card_item_proyect:nth-child(6) {
        grid-column: span 12;
        height: 100%;
    }

    .telephone__container {
        display: none;
    }

    .text__proyect_6 {
        display: none;
    }

    .scroll_container {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 25rem;
        border: solid 1px #74698b3d;
        border-radius: 15px;
        padding: 15px;
        background: #4b43571a;
    }

    .scroll_container p {
        font-size: clamp(0.8rem, 0.8vw, 2rem);
        line-height: 20px;
        color: #c7b9d4;
    }
}



.computer__proyect {
    max-width: 500px;
    border: solid 1px rgba(255, 255, 255, 0.1);
    background: radial-gradient(50% 70.31% at 50% 0%, rgba(126, 61, 255, 0.04) 0%, rgba(126, 61, 255, 0) 100%), rgba(11, 1, 29, 0.01);
    backdrop-filter: blur(8.5px);
    border-radius: 12px;
    padding: 10px 0.5em;
}

.line {
    border-radius: 20px;
    margin: 0 auto;
}


.row-container {
    display: flex;
    grid-template-columns: 4fr 1fr;
    gap: 20px;

}

.line-item {
    padding: 30px;

}

.text-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 80px;
}

.kills-proyect {
    margin: auto ;
    display: flex;
    align-items: center;
    gap: clamp(0.3rem, 2vw, 15rem);
}

.kills-proyect svg {
    width: clamp(2.7rem, 2.3vw, 15rem);
    height: clamp(2.7rem, 2.3vw, 15rem);
}

.img__computer {
    width: 100%;
    object-fit: cover;
    /* Esto asegura que la imagen se ajuste bien dentro del contenedor sin deformarse */
    object-position: center;
    /* Centra la imagen dentro del contenedor */
    border-radius: 10px;
    opacity: 0.8;
}

.img__telephone {
    width: 100%;
}


.telephone__container {
    opacity: 0.9;
}

.telephone__card {
    height: 17vw;
    width: 10vw;
    margin: auto;
    background-color: black;
    min-height: 300px;

    border-radius: 1.5em;
    position: relative;
}

.telephone__content {
    overflow: hidden;
    position: absolute;
    inset: 3%;
    border-radius: 1.5em;
    background-color: white;
    display: grid;

    grid-template-rows: 1fr;
    grid-template-areas:
        "content";
}

.telephone__proyect {
    position: relative;
    grid-area: content;
    background-image: url(/static/img/proyects/movil-bocatto.png);
    background-repeat: no-repeat;
}

.telephone__proyect::before {
    content: "";
    position: absolute;
    left: 20%;
    right: 20%;
    height: 1.1vw;
    background-color: black;
    border-radius: 0 0 20px 20px;
}







/* ABOUT ME */
#aboutme{
    width: 100%;
    
}

.text__me h2 {
    text-align: left;
    font-size: clamp(2rem, 1.3vw + 1rem, 3rem);
}

.text__me p {
    width: clamp(12rem, 22vw, 30rem);
    font-size: clamp(1rem, 0.2vw + 1rem, 3rem);
    text-align: left;
}

.article__container {
    margin: 100px 0;
    padding: 100px 0;
}

.card__container {
    display: flex;
    gap: 50px;
}

.card__aboutme {
    margin: 0 auto;
    height: clamp(35rem, 35vw, 50rem);
    width: clamp(14rem, 30vw, 50rem);
}






/* KILLS */

.title__kills h1 {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.6) 100%);
    ;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    font-size: 40px;
}

.cards__kills {
    position: sticky;
    top: 200px;
    margin: 0 auto;
    min-height: 400px;
    max-width: 800px;
    min-width: 800px;
    text-align: center;
    margin-bottom: 100px;
    transition: top 0.2s, transform 0.2s;
}

.cards__kills.scaled {
    transform: scale(0.8);
    top: 200px;
    /* Añadir 20px al top */
    transition: top 0.2s, transform 0.2s;
}

.grid__card__kills {
    border-top: solid 1px rgba(255, 255, 0.1);
    border-bottom: solid 1px rgba(255, 255, 0.1);
    border-image: radial-gradient(white 43%, var(--color--background) 83%) 1;
    background: radial-gradient(50% 70.31% at 50% 0%, rgba(126, 61, 255, 0.137) 0%, rgba(126, 61, 255, 0) 100%), rgb(11, 1, 29);
    border-radius: 12px;
    padding: 32px 2em
}







/* CONTACT ME AND STUDIES */
.grid__container {
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.text__studies {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-evenly;
}













/* FORM */
.form__content {
    display: grid;
    gap: 20px;
}

.form__content label {
    margin-bottom: 20px;
}

.date__container {
    width: auto;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 30px;
    margin-top: 5px;
}

.span__icon {
    background-color: var(--color--span);
    text-align: center;
    border-radius: 5px 0px 0px 5px;
    display: flex;
}

.span__icon svg {
    margin: auto;
}

.input {
    width: auto;
    border: solid #2d2641;
    border-radius: 0 5px 5px 0;
    background-color: #2d2641;
    color: white;
    text-indent: 6px;
}

.message {
    width: auto;
    height: auto;
    border: solid #2d2641;
    border-radius: 0 5px 5px 0;
    background-color: #2d2641;
    color: white;
    text-indent: 6px;
}



/* #hola{
    grid-column: 1/4
} */




/* .grid-card {
    border: solid 1px rgba(255, 255, 255, 0.1);
    background: radial-gradient(50% 70.31% at 50% 0%, rgba(126, 61, 255, 0.04) 0%, rgba(126, 61, 255, 0) 100%), rgba(11, 1, 29, 0.01);
    backdrop-filter: blur(8.5px);
    border-radius: 12px;
    padding: 32px 2em
} */








/* EFFECT REVEAL */
.effect__reveal {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 30% cover 33%;

}

.lineal__growth {
    animation: progress-lineal auto linear;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}

@keyframes reveal {
    from {
        opacity: 0;
        translate: 0 100px;
        scale: 0.5;
    }

    to {
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }

}

@keyframes progress-lineal {
    from {
        height: 0;
    }

    to {
        height: 300px;
    }
}






/* AVAILABLE YO WORK */
.available__contect {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.available__work {
    display: flex;
    justify-content: center;
    -ms-align-intem: center;
    align-items: center;
    position: relative;
    margin: auto;
    padding: 15px;
    border-radius: 50px;
    border: solid 2px var(--color--glass--effect);
    overflow: hidden;
}

.available__work span {
    margin-right: 5px;
}

.available__work a {
    font-size: clamp(0.8rem, 1vw, 3rem);
    z-index: 999;
}

.available__work::before {
    content: '';
    position: absolute;
    background: linear-gradient(#00ccff, #d500f9);
    width: 100%;
    height: 59px;
    animation: rotate 4s linear infinite;
    -webkit-animation: rotate 4s linear infinite;
}

.available__work::after {
    content: '';
    position: absolute;
    background: var(--color--background);
    inset: 2px;
    border-radius: 50px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}





/* SLIDER ICONS EJE X*/

.slide svg {
    color: #757575b0;
}

.slider__contect_L {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.slide__track_L {
    display: flex;
    gap: 24px;
    -webkit-animation: sliding_L 30s linear infinite;
    animation: sliding_L 30s linear infinite;
}


@keyframes sliding_L {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.slider__contect_R {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.slide__track_R {
    display: flex;
    gap: 24px;
    -webkit-animation: sliding_R 40s linear infinite;
    animation: sliding_R 40s linear infinite;
}

.slide__track_proyect {
    display: flex;
    gap: 24px;
    -webkit-animation: sliding_R 18s linear infinite;
    animation: sliding_R 18s linear infinite;
}

@keyframes sliding_R {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}